<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Orquesta Evaluator</title>

  <!-- Custom fonts for this template-->
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="/static/css/jquery.rainbowJSON.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/static/css/sb-admin-2.css" rel="stylesheet">
  <link href="/static/css/ostk.css" rel="stylesheet" >

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
          <div class="row justify-content-center bg-white topbar mb-4 static-top shadow">
              <div class="col-md-6 text-center m-auto">
                  <h1>Orquesta Evaluator</h1>
              </div>
          </div>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->


        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                        <div class="form-group">
                            <label for="yaqlInput">Expression</label>
                            <textarea class="form-control" id="yaqlInput" rows="2">{{expression}}</textarea>
                            <div class="alert alert-danger" id="yaqlAlert" role="alert" style="display: none"></div>
                        </div>
                        <div class="form-group">
                            <label for="result">Results</label>
                            <div id="result"></div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <button class="btn btn-primary mb-2" id="evaluate">evaluate</button>
                            </div>
                            <div class="col-lg-6">
                                <button class="btn btn-primary mb-2 float-lg-right" id="reformat">format json</button>
                            </div>
                        </div>
                </div>
                <div class="col-lg-6">
                        <div class="form-group">
                            <label for="yamlInput">json/yaml</label>
                            <textarea class="form-control" id="yamlInput" rows="20">{{json_yaml}}</textarea>
                        </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Inspired by YAQLuator by Alcatel Lucent Cloudband</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Core plugin JavaScript-->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

  <!-- Custom scripts for all pages-->
  <script src="/static/js/jquery.rainbowJSON.js"></script>

  <!-- yaqulator -->
  <script src="/static/js/yaqluator.js"></script>

</body>

</html>
